.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2E313F;
  color: white;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #3b3e4a;
  color: #ff6347;
}

.sidebar-footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}
