.user-profile {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2E313F;
    color: white;
    border-top: 1px solid #444;
    cursor: pointer;
  }
  
  .user-profile:hover {
    background-color: #3b3e4a;
  }
  
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-right: 10px;
  }
  
  .profile-details h3 {
    margin: 0;
    font-size: 16px;
  }
  
  .profile-details p {
    margin: 0;
    font-size: 12px;
  }
  